/* NEW */
#mobile-actions, 
#desktop-actions,
#before-you-buy {
  display: none !important;
}
#v-badges {
  text-align: center;
}
.vdp-container .block.card.hidden-lg .contact-block.hidden-lg {
  display: none !important;
}
.specials-title, 
.specials-block, 
.vdp-specials
{
  display: none;
}

/*Remove CarNow Banner on VDP*/
.cn-wrap.cn-btn_bar {
	display: none!important;
}

@media (min-width: 767px)  {
    .mobile-only-btn {
        display: none;
    }    
}
.split-vdp-with-toolbar .search-result-buttons .btn {
    margin: 0;
}
.block-heading.major-title {
    text-align: center;
}
.vehicle-info 
.get-price-btn-container {
    padding-right: 10px;
  padding-bottom: 10px;
}
.split-vdp-with-toolbar .search-result-buttons .btn {
    min-height: 70px;
    align-content: center;
}

/*TP Button changes KNP 10/15/2025*/
body .tp-cta-button-widget .tp-cta-button-btn-title span,
.tp-style-btn span {
    font-weight: 700 !important;
}
.col-xs-12.vehicle-description p {
    font-size: 1.25em;
}

/*Making the "Calculate Your Payment" button visible. - AD 4/4/2026*/
button.tp-btn.tp-cta-button-btn {
    border: solid 2px #05141F !important;
}

.search-result-buttons-and-price-block .inventory-fees-block {
    order: 1;
}

.search-result-buttons-and-price-block .asking-price.lowest-price {
    order: 2;
}

.split-vdp-with-toolbar .available-rebates-btn {
    padding: 12px;
    width: 100%;
    background-color: white !important;
    color: #05141f !important;
    border-radius: 0;
    border: 2px solid #05141f;
    margin: 0px 0px;
  text-decoration: none;
}

.split-vdp-with-toolbar .available-rebates-btn:hover, 
.split-vdp-with-toolbar .available-rebates-btn:active, 
.split-vdp-with-toolbar .available-rebates-btn:focus {
    background-color: #05141f !important;
    color: white !important;
}

.split-vdp-with-toolbar .available-rebates-section {
    padding-right: 10px;
    padding-bottom: 10px;
}

.split-vdp-with-toolbar .available-rebates-section {
    margin-bottom: 0px;
}

.inventory-fees-block {
    padding: 20px 5px;
    border-top: 2px solid #E5E5E5;
}

.inventory-fee h4 {
    font-size: 16px;
}

a.prequalify-by-phone-vdp.search-button.tp-style-btn.kia-secondary-btn {
    padding: 5px 20px !important;
}

.page-template .price-block-sticky .vehicle-overview-side .search-result-buttons .vehicle-show-buttons-stacked>[class*="col-"]>* {
    justify-content: space-between;
}

.highest-price.double-stacked-price {
    order: -2;
}

.price-savings {
    order: -1 !important;
}

.price-savings h5.price-label, .applied-rebate h5.incentive-label, .inventory-fees-block h5.price-label, .price-block-sticky .vehicle-overview-side .price-block .stacked-vehicle-prices>.col-xs-12[class*="savings"] h4,
.price-block-sticky .vehicle-overview-side .price-block .stacked-vehicle-prices .applied-rebate-savings-block .col-xs-12 .applied-rebate h4.incentive-amount, .inventory-fee span.inventory-fee-prefix {
    opacity: .45;
  color: #333 !important;
}
.applied-rebate h4.incentive-amount {
    font-size: 14px !important;
}

.price-block-sticky .vehicle-overview-side .price-block .stacked-vehicle-prices>.col-xs-12[class*="savings"] h4,
.price-block-sticky .vehicle-overview-side .price-block .stacked-vehicle-prices .applied-rebate-savings-block .col-xs-12 .applied-rebate h4.incentive-amount {
    color: #05141f !important;
}

.highest-price h3.price-amount {
    opacity: 1 !important;
}

.inventory-fee h4 {
    color: #333 !important;
    opacity: .45;
}

.inventory-fee span.inventory-fee-prefix {
  opacity: 1 !important;
}

button.tp-btn.tp-cta-button-btn.snap-cta.tp-btn-full-frame {
    margin-top: 0px !important;
}

.price-savings h4:before,
.applied-rebate h4:before {
    content: '-';
}

button.btn.btn-block.btn-success.available-rebates-btn {
    margin: 0;
  border-radius: 0;
  padding: 12px 16px;
}

.col-xs-12.price-block .row:nth-of-type(2) .col-xs-12 {
    padding: 0;
}

.vehicle-info .get-price-btn-container {
  padding-right: 0;
  padding-bottom: 0;
}

.sokal-vdp-component.sokal-vdp-component-sticky.sokal-vdp-component-sticky-width.price-block-sticky.is-ready a.toggle-test-drive-modal.btn.btn-default.btn-block.test-drive-button.event-click.track-click.modal-trigger.get-price-button:hover {
    color: #05141f !important;
}
/* Adjusting Vehicle Description */

.vehicle-comments-and-description-component {
  margin: 0;
  text-align: left;
}

.vehicle-comments-and-description-component .vdp-section-title::after {
  margin-left: inherit !important;
}