/* NEW VDP TEMPLATE ADDITIONS */
#mobile-actions, 
#desktop-actions,
.vdp-container .block.card.hidden-lg .contact-block.hidden-lg,
.specials-title, 
.specials-block,
.buttons-title,
.buttons-block {
  display: none !important;
}

#v-badges {
  text-align: center;
}
.vdp-container .toggle-disclaimer-modal {
    display: block;
}

.vdp-container .toggle-disclaimer-modal:hover {
    color: #036fba;
    text-decoration: none;
}
.badge-item[data-name="carfax-badge"] {
    display: none;
}
.show-vdp-coupon-form {
  font-size: 11px;
}
.price-block .vehicle-show-buttons a {
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
}

.vdp-custom-header-height {
  display: none;
  height: 0 !important;
}
.vdp-custom-header.navbar-fixed-top {
    position: static;
}

.vehicle-show-container .secondary-btn {
    margin: 0px;
  }


.applied-conditional-rebates .conditional-price {
    display: none;
}
.stacked-vehicle-prices .col-xs-12.middle-price h5,
.stacked-vehicle-prices .col-xs-12.middle-price h3 {
    font-size: 13px;
    font-weight: 600;
    color: black;
}

.stacked-vehicle-prices .col-xs-12.middle-price h5, 
.stacked-vehicle-prices .col-xs-12.middle-price h3 {
    color: #000000 !important;
}

.double-stacked-price h3, .double-stacked-price h5 {
    color: #000000 !important;
}
h5.price-label {
    font-weight: 600;
}
.col-xs-12.msrp-price.double-stacked-price h3 {
    font-weight: 600;
}
.col-xs-12.highest-price.double-stacked-price h3 {
    font-weight: 600;
}
h5.incentive-label {
    font-weight: 600;
}
h4.incentive-amount {
    font-weight: 600;
}

.search-result-buttons-and-price-block a.toggle-test-drive-modal.btn.btn-default.btn-block.test-drive-button.event-click.track-click.modal-trigger.get-price-button {
    margin-bottom: 5px;
}

.vdp-custom-header[data-has-color-fill="true"] {
    background-color: #000;
    color: #ffffff;
    border-bottom: black;
}

.mobile-help-icons .fa {
    background-color: #ffffff;
    color: #333333;
    color: black;
    border-color: #333333;
    border-color: black;
}

.vehicle-spec-display:hover .vehicle-spec-display__icon {
    border-color: #333333;
    border-color: black;
}

.vehicle-features-wrapper .sokal-bg-cover.has-border-bottom {
    border-bottom: 3px solid black;
}

.vehicle-features-wrapper .sokal-bg-cover {
    border-top: 3px solid black;
}

.split-vdp-with-toolbar .similar-vehicle__btn,
.split-vdp-with-toolbar .vdp-section-title::after,
.split-vdp-with-toolbar .vehicle-features-title::after {
    background-color: black;
}

.split-vdp-with-toolbar .similar-vehicle__name,
.vehicle-spec-display__content .content-value,
.vdp-custom-header[data-has-color-fill="true"] .unlock-price-button, 
.vdp-custom-header[data-has-color-fill="true"] .get-price-button,
.split-vdp-with-toolbar .info-item__value, .split-vdp-with-toolbar .info-item__value * {
    color: black;
}

.split-vdp-with-toolbar .unlock-price-button, .split-vdp-with-toolbar .get-price-button {
    background-color: green;
    color: #ffffff;
    border-color: green;
  border: 1px solid !important;
}

div#tradepending-panel {
    background: red;
}

.new-price-block-styles .stacked-vehicle-prices .locked-price-container h3 {
    color: black;
}
.tp-btn-trade.tp-btn-full-frame.btn.btn-block.search-button.search-button--worth.secondary-btn {
    background-color: #017d01 !important;
    color: #fff !important;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 0px;
    border: none !important;
    width: 100%;
    height: 74px;
    align-content: center;
}

.col-xs-12.col-md-6.vehicle-top-info.vehicle-overview-and-price-block[data-inventory-type="new"] .locked-price-container h3.unlock-modal-toggle {
    display: none !important;
}



/* Price block style updates - MW (4/16/26) */
.new-price-block-styles .asking-price.lowest-price h3 {
  color: black;
  font-size: 18px;
}
.price-block .applied-conditional-rebates::before {
    content: "Conditional Offers";
    display: inline-block;
    text-align: left;
    width: fit-content;
    float: left;
    margin: 0px 0px 5px 15px;
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    border-bottom: 1px solid;
}

.price-block .used-vehicle-prices .price-add-ons h4::before {
  content: '+';
}